body {
	background: #eee;
}

.container {
	width: 900px;
	border : 1px solid #ff0000;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid #ff0000;
}

.box {
	width: 250px;
	border: 1px solid #ccc;
	/* text-align: justify; */
	padding: 10px 15px 10px 15px;
	box-sizing: border-box;
	box-shadow: 4px 4px 11px 3px #8a8a8a;
	margin-bottom: 20px;
	float: left;
	margin-right: 20px;
	
	cursor: pointer;
	
	transition: all 0.5s;
	background: #ccc;
	
	word-spacing: 10px;
	
	letter-spacing: 5px;
	
	line-height: 50px;
	
}

.o5{
	
	opacity: 0.5;	
}

.fgray{
	filter:blur(5px);
	transition: all 0.5s;
}

.fgray:hover
{
	filter:grayscale(0%);
}


.o5:hover
{
	opacity: 1;
}

.clearfix{
	
	clear:both;
	
}



.box:hover
{
	background: #ff0000;
	width: 300px;
	
transform:rotateZ(-15deg)
}
}


.hide{
	
	visibility: hidden;
	
}



.rot15{
	transform:rotateZ(-15deg)
}







